<div class="container">
  <div>
    <div class="bg-dark text-light display-5 row">
      New Image
    </div>
    <br>
    <div *ngIf="errors" class="alert alert-danger display-6">
      {{ errors }}
    </div>
    <div *ngIf="success" class="alert alert-success display-6">
      Succesfully added image to repository.
    </div>
    <div class="display-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label>Operating System</label>
            <input type="text" class="form-control" [(ngModel)]="image.osType">
        </li>
        <li class="list-group-item">
          <label>Operating System Version</label>
          <input type="text" class="form-control" [(ngModel)]="image.osVersion">
        </li>
        <li class="list-group-item">
          Additional Software:
        </li>
      </ul>
      <ul *ngIf="softwareToAddList.length !== 0" class="list-group list-group-flush">
        <li *ngFor="let software of softwareToAddList" class="list-group-item">
          {{ software }}
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" [(ngModel)]="additionalSoftwareToAdd">
            </div>
            <div class="col">
              <button class="btn btn-light" (click)="onSoftwareAdd()">Add Software</button>
              <button class="btn btn-dark" (click)="onSoftwareCancel()">Cancel</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <button class="btn btn-light" (click)="onAdd()">Add Image</button>
      <button class="btn btn-dark" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>
