<div class="container">
  <div class="bg-dark text-light display-5 row">
    About
  </div>
  <br>
  <div class="bg-light text-dark display-6">
    This is a project of Cerebrum - Application for managing and maintaining docker and rkt infrastructure with orchestrators.
    Feel free if you want to contribute and you think that this idea is interesting.
  </div>
  <br>
  <div class="bg-light text-dark display-6">
    If you want you can find us at:
    <a href="https://github.com/heimdall777/cerebrum">https://github.com/heimdall777/cerebrum</a>
  </div>
</div>
