<nav class="navbar-nav navbar-expand-lg bg-light navbar-light sticky-top">
  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand">Cerebrum</a>
  </div>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/images">Images</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li>
      <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
      </a>
      <ul class="dropdown-menu">
        <li class="disabled">
          <a href="/">Disabled</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Register
      </a>
      <ul class="dropdown-menu">
        <li class="disabled">
          <a href="/">Disabled</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
