<div class="container">
  <div class="bg-dark text-light display-5 row">
    Images
  </div>
  <br>
  <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">List of accessible images:</li>
      <li *ngFor="let image of images" class="list-group-item">
        <div class="display-6">{{ image.osType }}: {{ image.osVersion }}</div>
        <div *ngIf="image.additionalSoftware.length !== 0" class="display-6">
          <small>Additional Software: {{ image.additionalSoftware }}</small>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group float-right mt-2" role="group">
        <button class="btn btn-light" (click)="onAddImage()">Add Image</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="/images">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/images">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/images">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
