<div class="container">
  <div class="bg-dark text-light display-5 row">
    Home Page
  </div>
  <br>
  <br>
  <div class="bg-light text-dark display-6">
    This is a project of Cerebrum - Application for managing and maintaining docker and rkt infrastructure with orchestrators.
    <br>
  </div>
  <br>
  <div class="bg-light text-dark display-6">
    You can find us at:
    <a href="https://github.com/heimdall777/cerebrum">https://github.com/heimdall777/cerebrum</a>
  </div>
  <br>
  <div>
    <blockquote class="blockquote text-right">"People usually are the happiest at home."</blockquote>
  </div>
  <div>
    <footer class="blockquote-footer text-right"> William Shakespeare.</footer>
  </div>
</div>
